<h1> ALL RATINGS </h1>

<% @ratings.each do |r| %>
    <li> 
        <strong><%= r.hotel.name%> - <%= r.stars %> stars</strong> - <%= r.description %> by <%= r.user.name%>
        
    </li>
<% end %>