<h1> ALL RATINGS </h1>
<%= flash[:error] %>
<% @ratings.each do |r| %>
    <li> 
        <strong>
            <%= r.hotel.name %> 
            <% r.stars.times do %>
                <span class = "fa fa-star checked"></span>  
            <% end %>
        </strong> - 
        <%= r.description %> by <%= r.user.name %>  
    </li>
<% end %>