/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
.container {
  background: linear-gradient(to bottom, #ffffff 0%, #ff99cc 100%);
}
.container {
  /* margin: 0px; */
  margin-left: 0;
  margin-right: 0;
  /* width: 100%; */
  max-width: 100% !important;
}
.header a {
  padding: 55px;
  color: white !important;
}

.navbar-brand {
  font-size: 3rem;
}

form#new_hotel {
  display: grid;
  grid-template-rows: repeat(9, 42px);
  row-gap: 10px;
  padding-left: 16px;
}
form#new_hotel div {
  display: grid;
  grid-template-columns: 248px 251px;
}

form#new_hotel button,
html [type="submit"] {
  -webkit-appearance: button;
  background: rgba(255, 95, 95, 0.945);
  border: none;
  border-radius: 5px;
  padding: 6px;
  width: 50%;
  color: white;
}

h1 {
  color: red;
  padding: 14px;
}
